.img-fluid{
    max-width: 100%;
height: auto;}
/* @media (min-width: 1460px){

.container-fluid{
    text-align: center;
    height: 85vh;
    overflow: hidden;
}

.img-fluid-center{
    width: 100%;
    margin-top: 2.5rem;
}

.row-productos{
    margin-top: 9rem;
}

/* ---- Footer ---- */
.page-footer{
    margin-top: 8rem;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 245, 232);
}
/* 
a{
    color: rgb(42, 79, 160);
    display: block;
    text-align: center;
}

.btn-black{
    color:#fff;
    text-decoration: none;
}
*/
.a-footer{
    color: black;
}

.boton{
    display: block;
    margin: 3rem auto;
    width: 50%;
    background-color: rgb(126, 49, 91);
    border:none;
} 
.boton a{
    color: white;
    text-decoration: none;
}

.botonadd.disabled{
    background-color: rgb(255, 245, 232);
    color: black;
    
}

/*  */
/* .mercadopago-button {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: #009ee3;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 55px;
    width: 9.5%;
    right: 0;
} */
.product-cards{
    width: 100%;
    padding: 0px;
    margin: auto;
    margin-top: 5rem;
}
.order{
    min-width: 50%;
    display: none;
}
.order-table{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    /* border-bottom: 1px solid black; */
}
.order-actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 20px;
}
.order-actions p{
    padding: 20px;
}
.order-actions p:hover{
    cursor: pointer;
}
.order h1,h2{
    text-align: center;
    padding: 10px;
}
.order h1{
    margin-top: 2rem;
}
.order h2{
    margin-bottom: 3rem;}