<%- layout('layouts/main.ejs') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
        <title>Comprar</title>
    </head>

    <body class="body">
        <h1 class="text-center mt-5">Hola!</h1>
        <h3 class="text-center mt-5">Realiza tu compra de manera totalmente segura aquí</h3>
        <h5 class="text-center mt-5"> ¡Gracias por elegirnos!</h5>
        <button type="button" class="btn btn-outline-secondary mt-4"><a href="/ofertas">¿Ya viste lo que puedes comprar con nuestros descuentos?</a></button>
        

            <div class="boton-pago">
                <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
            </div>
        
        <script>
            paypal.Buttons({
                createOrder: function (data, actions) {
                    return actions.order.create({
                        // ...
                        purchase_units: [{
                            amount: {
                                value: 100
                            }
                        }],
                    });
                },
                onApprove: function (data, actions) {
                    // ...
                }
            }).render('body');
        </script>
    </body>

    </html>