<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/productos.css">
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <title>Productos</title>
</head>

<body>

  <%- layout('layouts/main.ejs') %>
        
  
    <div class="container-fluid productos">

      <div id="page-content" >

        <div class="container-fluid" id="imagen-product">
          <img src="/img/lo.jpg" class="img-fluid center" alt="Chica">
        </div>

        <div id="order" class="order">
          <h1>Orden:</h1>
          <h2 id="order-total">Total: $150</h2>
          <table id="order-table" class="order-table">
            <tr>
              <th>Cantidad</th>
              <th>Detalle</th>
              <th>Subtotal</th>
            </tr>
            <tr>
              <td>2</td>
              <td>Pesas</td>
              <td>50</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Banco ajustable</td>
              <td>100</td>
            </tr>
          </table>

          <div id="order-actions" class="order-actions">
            <p onclick="displayProducts()"><< Volver</p>
            <p onclick="pay()"> Confirmar >></p>
          </div>
        </div>

      </div>


      <div id="product-cards" class="product-cards row row-productos row-cols-1 row-cols-md-3 g-4 container-fluid"></div>


      <div class="d-grid gap-2">
        <button class="btn btn-primary boton" type="button"><a class="btn-black" href="/ofertas">Ver
            Ofertas</a></button>
      </div>

    </div>

    <!-- Footer -->
    <footer class="page-footer font-small indigo">

      <!-- Footer Links -->
      <div class="container">

        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-4 mb-3">

          <!-- Grid column -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a class="a-footer" href="#!">Productos</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a class="a-footer" href="#!">Ofertas</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a class="a-footer" href="#!">Nosotros</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a class="a-footer" href="#!">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!-- Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

          <!-- Grid column -->
          <div class="col-md-8 col-12 mt-5">
            <p style="line-height: 1.7rem">Somos una tienda que siempre se está reinventando con un enfoque totalmente
              moderno de la moda. Bajo la nueva visión de los usuarios y clientes, hemos redefinido el lujo de nuestros
              productos para el siglo XXI, reforzando aún más nuestra posición como una de las tiendas virtuales de moda
              más destacadas del mundo.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;"><br><br>

        <!-- Grid row-->
      </div>

      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://localhost:3000/"> Marshall.com</a>
      </div>

    </footer>
    <!-- Footer -->

    <script src="/js/pay.js"></script>
</body>

</html>